language: java
jdk: openjdk11

#services:
#  - docker

#before_install:
#- docker build . #--no-cache -t ${TRAVIS_REPO_SLUG}:${TRAVIS_COMMIT} .
#- docker run -d -p 127.0.0.1:8080:8080 ${TRAVIS_REPO_SLUG}:${TRAVIS_COMMIT}

script:
#  - curl 127.0.0.1:8080
#- ./mvnw spring-boot:run
- ./mvnw package
- java -jar target/*.jar