language: java
jdk: openjdk11

services:
  - docker

before_install:
- docker build -t myproject .
- docker run -p 127.0.0.1:8080:8080 myproject
- docker ps -a

script:
  - curl 127.0.0.1:8080
#- ./mvnw spring-boot:run
#- ./mvnw package
#- java -jar target/*.jar
#- curl 127.0.0.1:8080
