sudo: required
language: java
jdk: openjdk11

services:
  - docker

before_install:
  - docker build --target=builder -t natalia-k/spring-petclinic .

script:
  - docker run -e CI=true natalia-k/spring-petclinic ./mvnw test -Dmaven.javadoc.skip=true -B -V
  - docker build --target=run -t natalia-k/spring-petclinic .

after_success:
    - docker login -u $DOCKER_USER -p $DOCKER_PASSWORD
    - docker tag spring-petclinic $DOCKER_USER/spring-petclinic:$TRAVIS_BUILD_NUMBER
    - docker push $DOCKER_USER/spring-petclinic:$TRAVIS_BUILD_NUMBER
    - docker tag spring-petclinic $DOCKER_USER/spring-petclinic:latest
    - docker push $DOCKER_USER/spring-petclinic:latest