# sudo: required
language: java
jdk: openjdk11

services:
  - docker

before_install:
  - docker build --target=builder -t spring-petclinic .

script:
  # - docker run -e CI=true spring-petclinic ./mvnw test -B
  - docker build --target=run -t spring-petclinic .

# after_success:
#   - docker login -u $DOCKER_USER -p $DOCKER_PASSWORD
#   - docker tag spring-petclinic $DOCKER_USER/spring-petclinic:$TRAVIS_BUILD_NUMBER
#   - docker push $DOCKER_USER/spring-petclinic:$TRAVIS_BUILD_NUMBER
#   - docker tag spring-petclinic $DOCKER_USER/spring-petclinic:latest
#   - docker push $DOCKER_USER/spring-petclinic:latest

deploy:
  - provider: elasticbeanstalk
    access_key_id: $AWS_ACCESS_KEY_ID
    secret_access_key: "$AWS_SECRET_ACCESS_KEY"
    region: "eu-central-1"
    app: "spring-petclinic"
    env: "springpetclinic-env-1"
    bucket_name: "elasticbeanstalk-eu-central-1-743863471753"
    bucket_path: "spring-petclinic"
    on:
      branch: master

# deploy:
#   - docker run
#   - curl -sL -w "%{http_code}\\n" "http://localhost/adop-docker-compose/" -o /dev/null | grep "200" &> /dev/null
#   - curl -o /dev/null -s -w "%{http_code}\n" http://localhost:8080/
#   - docker stop
