sudo: required
language: java
jdk: openjdk11

services:
  - docker

before_install:
  - docker build --target build -t natalia-k/spring-petclinic .
  # ./mvnw install -DskipTests=true -Dmaven.javadoc.skip=true -B -V

script:
  - docker run -e CI=true natalia-k/spring-petclinic ./mvnw test -B
  # - docker run natalia-k/spring-petclinic mvnw test -- --coverage
  # ./mvnw test -B

after_success:
    - docker build --target run -t natalia-k/spring-petclinic .
    - docker login -u $DOCKER_USER -p $DOCKER_PASSWORD
    - docker tag spring-petclinic $DOCKER_USER/spring-petclinic:$TRAVIS_BUILD_NUMBER
    - docker push $DOCKER_USER/spring-petclinic:$TRAVIS_BUILD_NUMBER
    - docker tag spring-petclinic $DOCKER_USER/spring-petclinic:latest
    - docker push $DOCKER_USER/spring-petclinic:latest